$chatBackground: rgb(57, 75, 95);

.is-visible {
    visibility: hidden!important;
    opacity: 0!important;
}

div {
    padding: 0px;
    margin: 0px;
}

.conversation {
    background-color: $chatBackground;
    border-radius: 15px 15px 15px 15px;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    z-index: 1500;
    border: 1px solid;
    border-color: $chatBackground;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    &:hover {
        background-color: #333;
        border-color: #333;
    }
    transition: all 500ms;
    opacity: 1;
}

#start {
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.welcome {
    width: 376px;
    height: 178px;
    border-radius: 10px;
    background-color: $chatBackground;
    border: 1px solid;
    border-color: $chatBackground;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    transition: all 500ms;
    opacity: 1;
}

.sign-in {
    width: 100%;
    height: 84px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0px;
}

.email {
    width: 100%;
    height: 30px;
    border: none;
    outline: none!important;
    padding-left: 10px;
    padding-right: 10px; 
}

.welcome-message {
    line-height: 1.35;
    font-size: 14px;
    font-size-adjust:0.5;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-left: 3%;
    top: 50px;
    width: 90%;
    height: 30px;
    color: white;
}

.avatar{
    position: absolute;
    top: -30px;
    left: 10px;
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 3px solid $chatBackground;
    border-radius: 150px;
}

.avatar-size {
    width: 70px;
    height: auto;
}

.container {
    width: 376px;
    height: 50vh;
    border-radius: 10px;
    background-color: $chatBackground;
    border: 1px solid;
    border-color: $chatBackground;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    transition: all 500ms;
    opacity: 1;
}

.header {
    position: absolute;
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    background-color: $chatBackground;
}

#user {
    font-weight: bolder;
    font-size: 13pt;
    color: rgb(213, 211, 211);
    position: relative;
    top: 1vh;
    left: 95px;
}

#close {
    position: absolute;
    top: 1vh;
    right: 15px;
    cursor: pointer;
    &:hover {
        color: #333;
    }
}

#feed {
    position: absolute;
    padding-top: 10px;
    top: 40px;
    bottom: 35px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}

.message {
    float: left;
    clear: both;
    text-align: left;
    min-width: 20px;
    background-color: rgb(63, 100, 117);
    position: relative;
    margin: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 15%;
    max-width: 85%;
    padding: 0px 5px;
    border-color: rgb(63, 100, 117);
    border-style: solid;
    border-width: 5px;
    border-radius: 7px 15px 15px 7px;
}

.sent-message {
    text-align: right;
    float: right;
    clear: both;
    border-radius: 15px 7px 7px 15px;
    background-color: $chatBackground;
    border-color: $chatBackground;
}

.sent-message-last {
    border-radius: 15px 7px 0px 15px;
    margin-bottom: 2px;
}

.recived-message-last {
    border-radius: 7px 15px 15px 0px;
    margin-bottom: 2px;
}

.write {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
    position: absolute;
    bottom: 2.5px;
    left: 2.5%;
    padding: 0;
    margin: 0;
    width: 95%;
    height: 30px;
}

.text {
    position: relative;
    left: 5px;
    top: 2px;
    width: 70%;
    height: 20px;
    padding-left: 8px;
    border-width: 0.3px;
    border-radius: 15px 15px 15px 15px;
    outline: none!important;
}

.message-submit {
    position: absolute;
    top: 3.5px;
    right: 5px;
    color: $chatBackground;
    border: none;
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    height: 20px;
    padding: 6px 10px;
    border-radius: 15px;
    outline: none!important;
    transition: background .2s ease;
    cursor:pointer;
    &:hover {
        background: #fff;
        color: #333;
      }
}