#container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.sidebar-link{
    left: 1vw;
    position: fixed;
    z-index: 1000;
    opacity: 0.5;
}

.circle-o:hover{
	opacity: 1;
}

.circle{
	opacity: 1;
}

.sidebar{
	cursor: pointer;
    left: 1vw;
    position: fixed;
    z-index: 1000;
}

#home {
	height: 100vh;
	width: 100vw;
	position: relative;
	background: url("/assets/clint-mckoy-463797-small.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-weight: bolder;
	font-size: 5rem;
	margin-top: 0px;
	width: 80vw;
	position: relative;
	top: 70vh;
	left: 10vw;
}

.Writing:after {
	content: "\258B";
	color: white;
	animation: blink 1.3s infinite;
	-webkit-animation: blink 1.3s infinite;
	-moz-animation: blink 1.3s infinite;
	-o-animation: blink 1.3s infinite;
	margin-left: 2px;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


.sections {
	height: 100vh;
	width: 100vw;
}

p {
	margin-top: 0px;
	width: 80vw;
	position: relative;
	left: 10vw;
}

.Title {
	font-size: 3rem;
	margin-top: 0px;
	top: 20vh;
}

#SummryText {
	top: 20vh;
	font-size: 1.3rem;
	text-align: justify;
}

#Label {
	position: fixed;
	left: 2.5vw;
}